<p>customer works!</p>

<form class="form" [formGroup]="form">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="customerName" id="customerName"
                    placeholder="Customer name">
                <label for="customerName">Customer Name</label>
                <app-error [form_control]="f['customerName']" [isSubmitted]="isFormSubmit"></app-error>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber"
                    placeholder="Phone number">
                <label for="phoneNumber">Phone Number</label>
                <app-error [form_control]="f['phoneNumber']" [isSubmitted]="isFormSubmit"></app-error>
            </div>
        </div>


        <!-- SubForm (Product) -->
        <div class="row" [formGroup] = 'subForm'>
            <h5><u> &nbsp; Products &nbsp;</u></h5>
            <div class="col-8 col-md-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="productName" id="productName" placeholder="Product name">
                    <label for="product">Product Name</label>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <div class="form-check">
                    <input type="checkbox" formControlName="isActive" class="form-check-input" id="isActive">
                    <label for="isActive" class="form-check-label">Active</label>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <button class="btn btn-sm btn-primary" (click)="submitSubForm()">+ Product</button>
            </div>
        </div>

        <app-product-list [product_List]="productList"></app-product-list>

        <!-- submit main Form -->
    </div>
    <button class="btn btn-success" (click)="submitForm()"> Submit</button>
</form>