<h2 class="twentyH">Simple Form</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
                <label for="userName" class="form-label">Enter userName</label>
                <input type="text" ngModel name="userName" id="userName" placeholder="Enter userName"
                    class="form-control" autocomplete="off">

                <label for="email" class="form-label">Enter email</label>
                <input type="email" ngModel name="email" id="email" placeholder="Enter email" class="form-control"
                    autocomplete="off">

                <label for="password" class="form-label">Enter password</label>
                <input type="password" ngModel name="password" id="password" placeholder="Enter password"
                    class="form-control" autocomplete="off">

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-6 border">
            <ol>
                <li>{{userData.userName}}</li>
                <li>{{userData.email}}</li>
                <li>{{userData.password}}</li>
            </ol>
        </div>
    </div>
</div>