<!-- <app-header></app-header> -->
<!-- <h3 class="heading">Hello world <kbd>4</kbd></h3>
<h3 class="font-bold underline">
  Hello world!
</h3> -->


<hr>
<h3>{{title}}</h3>

<hr>
<!-- interpolation 5-->

<!-- <h3 class="heading">interpolation <kbd>5</kbd></h3>
<h4>{{2+2}}</h4>
<h5>{{title === "blog"}}</h5>
<h5>{{number ==8}}</h5>
<!-- {{number ++}} 
<h5>Cannot do in interpolation</h5>
<h2 class={{title}}> This my Title</h2> -->


<hr>
<!-- CLI Importance 6 -->

<!-- <h3 class="heading">CLI Importance <kbd>6</kbd></h3>
<ul>
  <li>ng g class</li>
  <li>ng g interface</li>
  <li>ng g module</li>
  <li>...</li>
</ul> -->

<hr>
<!-- Components 7 -->

<!-- <h3 class="heading">Components <kbd>7</kbd></h3>
<ul>
  <li>Selector</li>
  <li>...</li>
</ul> -->




<hr>
<!-- Applying Styles[] 8 -->

<!-- <h3 class="heading">Applying Styles[ &nbsp;] <kbd>8</kbd></h3>

<h2>Tour of Heroes</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
 -->

<!-- inline Style -->
<!-- <hr>
<app-user-list></app-user-list> -->

<hr>
<!-- Both Template + CSS -->

<!-- <app-both></app-both> -->

<hr>
<!-- Modules  9-->

<!-- <h3 class="heading">Modules <kbd> 9</kbd></h3>
<app-offie></app-offie> -->

<hr>
<!-- Function call on Events 10 +11 -->
<!-- <app-events11></app-events11> -->

<hr>
<!-- 12 Get Input Box Value -->
<!-- <app-getinputboxvalue12></app-getinputboxvalue12> -->

<hr>
<!--13  Counter App-->
<!-- <app-couter></app-couter> -->


<!-- 14 Style Rules -->
<hr>
<!-- <app-stylesrule14></app-stylesrule14> -->

<hr>
<!-- <h4>Property Binding</h4>
<app-propertybind15></app-propertybind15> -->

<hr />
<!-- If Else -->

<!-- <app-ifelse16></app-ifelse16> -->


<hr>
<!-- Else if -->
<!-- <app-elseif></app-elseif> -->

<hr>
<!-- switch case -->
<!-- <app-switchcase18></app-switchcase18> -->

<hr>
<!-- ngFor -->
<!-- <app-ngfor19></app-ngfor19> -->

<hr>
<!-- nested For Loop -->
<!-- <app-nestedforloop20></app-nestedforloop20> -->
<hr>
<!-- Style Binding -->
<!-- <app-stylebinding21></app-stylebinding21> -->

<hr>
<!-- Header Component -->
<!-- <app-header></app-header> -->

<hr>
<!-- Simple Forms -->
<!-- <app-login></app-login> -->


<hr>
<!-- Toggle Element 24 -->

<!-- <app-toggleelement></app-toggleelement> -->

<!-- <hr>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.qq
  </ngb-alert>
</p> -->
<!-- ng Bootstrap 25 -->

<!-- <app-ngbootstrap25></app-ngbootstrap25> -->

<hr>
<!-- Material UI 26 -->
<!-- <app-matui26></app-matui26> -->

<hr>
<!-- Todo List 27 -->
<!-- <app-todolist27></app-todolist27> -->

<hr>
<!-- Parent to Child 28 -->
<!-- <app-child [showChildPhone]='parentPhNumber' [showChildEmail]="parentEmail"></app-child> -->
<hr>

<!-- CheckPassData [] -->
<!-- <div class="border p-3">
  <app-checkpassdata [showData]="sendRandomNum"></app-checkpassdata>
  <button class="btn btn-primary" (click)="updateChildData()">Update Child Data</button>
</div> -->

<!-- Parent to (onClick)  Same -->
<!-- <button class="bnt.btn-primary" (click)="updateChildData()">Update ChildData</button>
  <app-child [recieveNumber]="sendRandomNum"></app-child> -->

<hr>
<!-- ResuableComponent -->
<!-- <h2 class="twentyH">ResuableComponent <kbd>29</kbd></h2>
<div class="border p-5">
  <ul [style.list-style-type]="'circle'" *ngFor="let item of userDetail">
    <app-resuableCompDetail29 [item]="item"></app-resuableCompDetail29>
  </ul>
</div> -->

<!-- <app-interiordesign></app-interiordesign> -->
<hr>
<!-- Send Data Child to Parent 30 -->
<!-- {{showData}}
<app-childtoparent (updateDataEvent)="updateData($event)"></app-childtoparent> -->

<router-outlet></router-outlet>